<div class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="ml-4 page-title">Thêm bài viết</h3>
			</div>
			<!--  Header -->
			<div class="col-md-12">
				<div class="job-content job-widget">

					<div class="card-body">
						<form action="/admin/post-content" method="post">
							<div class="form-group row">
								<label class="col-form-label col-md-2">Người tổng hợp</label>
								<div class="col-md-10">
									<input type="text" class="form-control" id="author" name="author">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-md-2">Chủ đề</label>
								<div class="col-md-10">
									<select class="form-control" id="topic" name="topic">
										<option>-- Select --</option>
										<option>Thế giới</option>
										<option>Kinh doanh</option>
										<option>Thời sự</option>
										<option>Sức khỏe</option>
										<option>Đời sống</option>
										<option>Du lịch</option>
										<option>Khoa học</option>
										<option>Giải trí</option>
										<option>Thể thao</option>
										<option>Pháp luật</option>
										<option>Giáo dục</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-md-2">Link bài viết</label>
								<div class="col-md-10">
									<input class="form-control" type="text" id="link" name="link">
								</div>
							</div>
							<div class="form-group mb-0 row">
								<div class="col-md-10">
									<div class="input-group">
										<div class="input-group-append">
											<button type="submit" class="btn btn-primary">Lưu lại</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>