<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords"
		content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Employees - Tech blog</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="/css/line-awesome.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/css/select2.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/css/style-admin.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->
</head>

<div class="header">

	<!-- Logo -->
	<span>
		<div class="header-left">
		<a href="/user" class="logo">
			<img src="/images/version/tech-logo.png" alt=""></a>
		</a>
	</div>
	<!-- /Logo -->

	<!-- Header Title -->
	<div class="page-title-box">
		<h3>Tech Blog Admin</h3>
	</div>
	<!-- /Header Title -->

	<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
	</span>

	<!-- Header Menu -->
	<ul class="nav user-menu">

		<!-- Search -->
		<li class="nav-item">
			<div class="top-nav-search">
				<a href="javascript:void(0);" class="responsive-search">
					<i class="fa fa-search"></i>
				</a>
				<form action="/search">
					<input class="form-control" type="text" placeholder="Search here">
					<button class="btn" type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</li>
		<!-- /Search -->

		<!-- Notifications -->
		<li class="nav-item dropdown">
			<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
				<i class="fas fa-bell"></i> <span class="badge badge-pill">3</span>
			</a>
			<div class="dropdown-menu notifications config config">
				<div class="topnav-dropdown-header">
					<span class="notification-title">Thông báo</span>
					<a href="javascript:void(0)" class="clear-noti"> Xóa tất cả </a>
				</div>
				<div class="noti-content">
					<ul class="notification-list">
						{{!-- Danh sách thông báo --}}
						
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Hoàng Hà Sơn</span> đã thêm một bài viết <span class="noti-title">CEO BKAV đã nói gì trong sự kiện ra mắt sản phẩm gần đây</span></p>
													<p class="noti-time"><span class="notification-time">1 phút trước</span></p>
												</div>
											</div>
										</a>
									</li>
									{{!--  --}}
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Nguyễn Ngọc Giáp</span> đã thêm một bài viết <span class="noti-title">Đề xuất linh hoạt mức đóng bảo hiểm thất nghiệp</span></p>
													<p class="noti-time"><span class="notification-time">3 phút trước</span></p>
												</div>
											</div>
										</a>
									</li>
									{{!--  --}}
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Nguyễn Ngọc Duy</span> đã thêm một bài viết <span class="noti-title">Ông lớn pin mặt trời Trung Quốc bán nhà máy tại Mỹ </span></p>
													<p class="noti-time"><span class="notification-time">4 phút trước</span></p>
												</div>
											</div>
										</a>
									</li>
									{{!--  --}}
									<li class="notification-message">
										<a href="activities.html">
											<div class="media">
												<span class="avatar">
													<img alt="" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body">
													<p class="noti-details"><span class="noti-title">Nguyễn Cảnh Trung</span> đã thêm một bài viết <span class="noti-title">Nhiều đất 'vàng' trung tâm TP HCM bị cho thuê trái quy định</span></p>
													<p class="noti-time"><span class="notification-time">8 phút trước</span></p>
												</div>
											</div>
										</a>
									</li>
								
						{{!-- Kết thúc danh sách thông báo --}}
					</ul>
				</div>
				<div class="topnav-dropdown-footer">
					<a href="activities.html">Xem tất cả</a>
				</div>
			</div>
		</li>
		<!-- /Notifications -->

		<!-- Message Notifications -->
		<li class="nav-item dropdown">
			<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
				<i class="fas fa-comment"></i> <span class="badge badge-pill">8</span>
			</a>
			<div class="dropdown-menu notifications config">
				<div class="topnav-dropdown-header">
					<span class="notification-title">Tin nhắn</span>
					<a href="#" class="clear-noti"> Xóa tất cả </a>
				</div>
				<div class="noti-content">
					<ul class="notification-list">
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="/img/profiles/avatar-09.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author">Phạm Hoàng Hà</span>
										<span class="message-time">12:28 AM</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="/img/profiles/avatar-02.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author">Nguyễn Văn Minh</span>
										<span class="message-time">6 Mar</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="/img/profiles/avatar-03.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author">Hà Kim Minh</span>
										<span class="message-time">5 Mar</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="/img/profiles/avatar-05.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author">Lê Tuấn Kiệt</span>
										<span class="message-time">3 Mar</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="/img/profiles/avatar-08.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author">Hiếu PC</span>
										<span class="message-time">27 Feb</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="topnav-dropdown-footer">
					<a href="chat.html">Xem tất cả</a>
				</div>
			</div>
		</li>
		<!-- /Message Notifications -->

		<li class="nav-item dropdown has-arrow main-drop">
			{{#if IsAuthenticated}}

                    <li class="nav-item dropdown">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">{{AuthUser.firstName}} {{AuthUser.lastName}}
							<i class="fas fa-chevron-down"></i>
						</a>
						
                        <ul class="dropdown-menu options">
                            <li><a href="#">Hồ sơ</a></li>
                            <li><a href="/admin/">Quản lý bài viết</a></li>
                            <li><a href="/user/login">Đăng xuất</a></li>
                        </ul>
                    </li>
			{{/if}}
		</li>
	</ul>
	<!-- /Header Menu -->

	<!-- Mobile Menu -->
	<div class="dropdown mobile-user-menu">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
				class="fa fa-ellipsis-v"></i></a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" href="profile.html">Hồ sơ của tôi</a>
			<a class="dropdown-item" href="settings.html">Cài đặt</a>
			<a class="dropdown-item" href="login.html">Đăng xuất</a>
		</div>
	</div>
	<!-- /Mobile Menu -->

</div>
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu mt-4">
			<ul>
				<li class="menu-title">
					<span>Chính</span>
				</li>
				<li class="submenu">
					<a href="/admin"><i class="fas fa-cubes"></i> <span> Bảng điều khiển</span></a>
				</li>
				<li class="submenu">
					<a href="/admin/chat"><i class="fas fa-clone"></i> <span> Tin nhắn</span> <span class="menu-arrow"></a>
				</li>
				<li>
					<a href="/admin/employees"><i class="fas fa-user-edit"></i><span>Tác giả</span></a>
				</li>
				<li class="menu-title">
					<span>Admin</span>
				</li>
				<li>
					<a href="/admin/assets"><i class="fas fa-object-ungroup"></i> <span>Quản lý bài viết</span></a>
				</li>
				<li class="submenu">
					<a href="/admin/user-dashboard"><i class="fas fa-briefcase"></i> <span> Nhiệm vụ hàng ngày</span> <span class="menu-arrow"></a>
				</li>
				<li>
					<a href="/admin/users"><i class="fas fa-user"></i> <span>Quản lý người dùng</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- /Sidebar -->