<!DOCTYPE html>
<html>

<head>

  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Site Metas -->
  <title>Tech Blog - Website tin tức hàng đầu</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="shortcut icon" href="/src/public/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/src/public/images/apple-touch-icon.png">

  <!-- Design fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">

  <!-- FontAwesome Icons core CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- Responsive styles for this template -->
  <link href="/css/responsive.css" rel="stylesheet">

  <!-- Colors for this template -->
  <link href="/css/colors.css" rel="stylesheet">

  <!-- Version Tech CSS for this template -->
  <link href="/css/version/tech.css" rel="stylesheet">

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  {{#if partials}}
  {{>page/userheader}}
  {{else}}
  {{>page/adminheader}}
  {{/if}}


  {{{body}}}

  {{#if partials }}
  {{>page/userfooter}}
  {{/if}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>

  <script>

    var date = document.querySelectorAll('.date')
    date.forEach(function (e) {
      const date1 = new Date(e.getAttribute('datetime'))
      const date2 = moment(date1).format('LL')
      e.innerHTML = date2
    })
  </script>
</body>

</html>