<div class="wrapper" style="display: flex;">
    <div class="backgroud-section"></div>
    <div class="section login-section">
        <form method="post" action="" class=" login-form">
            <h3 class="mt-5">ĐĂNG KÍ</h3>
            <div style="position: relative; margin-right: 6px;">
                {{mes}}
            </div>
            <div class="name-input" style="position: relative;">
                <div style="position: relative; margin-right: 6px;">
                    <input type="text" class="input-login first-name-login" id="firstName" name="firstName"
                        placeholder="Họ">
                    <span class="border-animation"></span>
                </div>
                <div style="position: relative; margin-left: 6px;">
                    <input type="text" class="input-login last-name-login" id="lastName" name="lastName"
                        placeholder="Tên">
                    <span class="border-animation"></span>
                </div>
            </div>
            <div style="position: relative;">
                <input type="text" class="input-login password-login" id="userName" name="userName"
                    placeholder="Tên đăng nhập">
                <span class="border-animation"></span>
            </div>
            <div style="position: relative;">
                <input type="email" class="input-login email-login" id="email" name="email" placeholder="Email">
                <span class="border-animation"></span>
            </div>
            <div style="position: relative;">
                <input type="password" class="input-login password-login" id="password" name="password"
                    placeholder="Mật khẩu">
                <span class="border-animation"></span>
            </div>
            <div style="position: relative;">
                <input type="password" class="input-login password-login" placeholder="Xác nhận mật khẩu">
                <span class="border-animation"></span>
            </div>
            <button class="btn btn-primary">ĐĂNG KÍ</button>
            <div class="line-form">
                <div class="line-item"></div>
                Hoặc
                <div class="line-item"></div>
            </div>
            <div class="login-form-social">
               <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube-square"></i></a>
            </div>
            <div class="conversion-form">
                <p>Bạn đã có tài khoản?</p>
                <a href="/user/login">Đăng nhập</a>
            </div>

        </form>
    </div>
</div>